<div class="container">
    <form [formGroup]="applyForm" class="dialog-form">
        <div class="dialog-content">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" formControlName="Name" class="form-control">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea formControlName="Description" class="form-control"></textarea>
            </div>
            <!-- File selection input -->
            <input type="file" (change)="onFileSelected($event)" class="file-input">
        </div>
        <div class="dialog-actions">
            <button class="cancel-button" [routerLink]="'/products'" mat-button mat-dialog-close>Cancel</button>
            <button style="background-color: orange;" class="update-button" mat-button (click)="updateProduct()">Update</button>
        </div>
    </form>
</div>
